__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
# Environment variables
.env

# Sensitive cookies files
cookies.txt
cookies.bak
cookies_base64.txt
*.log
*.tmp
temp/
*.mp4
*.webm
*.mkv
*.jpg
*.png
